@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: theme('colors.surface.base');
    color: theme('colors.text.DEFAULT');
  }
  body {
    overscroll-behavior: none;
  }
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}

::-webkit-scrollbar {
  display: none;
}
